.vscode/*
class_notes/*
labs/*
homeworks/homework1/*
homeworks/*/logs/*
homeworks/*/models/
final_project/papers/*
final_project/data/
final_project/models/
final_project/preds/
final_project/logs/
final_project/graphs/
final_project/*.zip
textbooks/
intro/*
data/*

